.section-area{
    padding: 50px;
}
.full {
  transition: 0.5s ease;
}
.upper {
  height: 200px;
  width: 100%;
  background: url(./../../../public/images/larm-rmah-AEaTUnvneik-unsplash.jpg);
  background-size: cover;
}

.cover-inner {
  height: 20px;
  background-color: rgb(255, 253, 253);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -10px;
  border-radius: 15px;
  padding-top: 5px;
  padding-left: 10px;
}
.head {
  background-color: rgb(199, 199, 199);
  width: 85%;
  height: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  margin-right: 5px;
}
.left {
  background-color: rgb(141, 36, 54);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 40%;
  height: 10px;
}
.down {
  background-color: rgb(73, 172, 73);
}
.percentage {
  font-size: 12px;
  margin-top: -4px;
  margin-left: 4px;
}
.float-start {
  font-weight: 700;
  width: 50%;
}
.float-end {
  font-weight: 700;
  width: 50%;
}
/* section two */
